<div id="ProjectGroup"
     data-name='{{ page.product.extensions.structConfigurator.projectGroupName }}'>
{#     Projektgruppenname: {{ page.product.extensions.structConfigurator.projectGroupName }}#}
</div>
