<div id="Product"
     data-Productname='{{ page.product.extensions.structConfigurator.productName }}'
     data-id='{{ page.product.id }}'
     data-price='{{ page.product.calculatedPrice.unitPrice }}'>
{#        ProductName: {{ page.product.extensions.structConfigurator.productName }}#}
</div>
